[2015-03-22 15:51] killercup opened #2 "Update Crate.io to latest version"
Currently compiling exa breaks because `locale` doesn't compile using the latest rust. It seems like you already fixed that on master, but didn't publish a new version on crates.io.

So, this is just a reminder to do that :)

[2015-03-22 16:40] ogham commented on #2
Done! I'm so clever...

[2015-03-22 16:40] #2 closed

[2015-04-06 17:09] davidcelis opened #4 "Fails to compile on Rust 1.0.0-beta"
Here are the results of a build attempt:

[code]

This comes from trying to build [exa](https://github.com/ogham/exa)

[2015-04-07 01:22] ogham commented on #4
Annoyingly, you can't use the beta to compile exa... but I will fix this

[2015-04-07 01:30] #4 closed

[2016-01-28 19:40] petevine opened #6 "The final ARM broken crate"
More of the [same](https://github.com/rust-lang/rust/issues/29867):

[code]

Rustc nightly `1.8` (or rather >= 1.6) is affected whereas `1.5` is fine.

[2016-02-04 15:16] jan-hudec commented on #6
@petevine, can you try the latest version from git? It seems this should be fixed by #5.

@ogham, can you upload the fixed version to crates.io or grant me the permission to upload it?

[2016-02-04 15:34] MagaTailor commented on #6
The latter is a good idea - I had immediately fixed it for myself but the goal should probably be to have exa compile on ARM for everybody?

-original message-
Subject: Re: [rust-locale] Teh fnial RAM borken carte (#6)
From: Jan Hudec notifications@github.com
Date: 04.02.2016 16:16

@petevine, can you try the latest version from git? It seems this should be fixed by #5.

@ogham, can you upload the

[2016-02-04 15:43] MagaTailor commented on #6
@jan-hudec
However, looking at your fix I'm not sure going back to libc 0.1 is the right approach - after all libc 0.2 was partly about catching up to libstd 1.6. So basically, everyone has been upgrading to 0.2 ever since.

Did you test it on `rust 1.5`?

[2016-02-10 14:15] ogham commented on #6
I can upload the latest version, but I'm not sure if there's a way for me to grant other people access.

[2016-02-10 15:23] ogham commented on #6
locale v0.2 is on crates.io now

[2016-02-10 17:24] MagaTailor commented on #6
The same 9 errors are still there in `0.2.0` so there was no code change.

[2016-02-10 21:52] ogham commented on #6
Wait, what? I definitely uploaded it.

[2016-02-10 22:29] MagaTailor commented on #6
I meant there was no code change relevant to this issue. The crate versioned `0.2.0` is there alright.

[2016-02-14 17:37] jan-hudec commented on #6
@petevine, ok, so apparently #5 didn't fix this. What exact target are we talking about (arm-linux-androideabi, arm-unknown-linux-gnueabi or arm-unknown-linux-gnueabihf)?

[2016-02-14 17:47] MagaTailor commented on #6
What exactly did you think it was fixing?

Arm Linux/Android platforms and x86 android are affected.
Either just do the casts for now or we'll soon see how the newly merged `os::std::raw` changes are going to affect this.

[2016-02-14 17:48] jan-hudec commented on #6
I don't know what I was fixing. I assumed this is the same error as #5 is, because that's what #5 appears to claim. However, it did not really work. So I'll have to investigate it closer (and kill the pin to libc 0.1, which apparently isn't anything we should want).

[2016-02-15 16:27] jan-hudec commented on #6
No, they are not. Only `arm-unknown-linux-gnueabi` is.

[2016-02-15 16:43] MagaTailor commented on #6
When was android fixed then? (abi is not related, no idea why you keep bringing it up)
If what you're saying is factual you can update the discussion here:

https://github.com/rust-lang/rust/issues/29867

[2016-02-15 17:13] jan-hudec commented on #6
Well, @petevine, I am trying to sort out where it actually fails to build. Because I hoped that @sybblow's PR would fix it, but as it apparently does not, I need to know which combinations compile and which don't, so I can actually fix it.

So far I've tried (today's) nightly. I'll test beta and stable too.

[2016-02-15 18:37] jan-hudec commented on #6
Ok, from the start, the correct fix should have been to:
- Upgrade to libc 0.2—all the other dependencies of exa did and having a mix of 0.1 and 0.2 makes no sense, especially since the types are correct in 0.2 and _not_ in 0.1
- Put explicit casts in the decode functions that failed. The system returns a pointer and that pointer is to be interpreted as different things and in the failing cases th

[2016-02-15 19:43] ogham commented on #6
If you're compiling for Windows then I'm not even sure how many tests would be run! There are the 'thousands separator' tests, but they don't exactly _test_ anything about the system. Could you please paste the crash that you get?

I'd much rather have libc v0.2 than v0.1 as well.

[2016-02-15 19:47] MagaTailor commented on #6
It's wrong to use the explicit `i8` cast on platforms that actually have `u8` - the correct way is to cast to whatever the platform has, using the `_` syntax which will result in a trivial cast. (e.g u8 to u8)

@ogham
The x86/x86_64 stuff was never affected by this issue so it shouldn't even matter.

[2016-02-15 19:47] jan-hudec commented on #6
On Monday 15 of February 2016 08:43:38 petevine wrote:

Actually, as far as locale crate is concerned, the code that failed simply
isn't compiled on Android (it has the APIs, but not the data to return from
them), so it couldn't fail there.

##
- Jan Hudec bulb@ucw.cz

[2016-02-15 19:58] jan-hudec commented on #6
On Monday 15 of February 2016 11:47:10 petevine wrote:

I am not sure what syntax you mean, but in this case, the function returns a
`char *`, but depending on the argument it might mean different things and in
the two cases declared with `i8` where I added the cast it actually means an
`int8_t *`. So the cast is correct, because it would have been needed in C as
well. Note that in the cases where

[2016-02-15 20:00] MagaTailor commented on #6
Instead of `as *const i8` do `as *const _`

The unaffected platforms shouldn't be getting any needless casts.

Ok, you meant just this crate . The issue is global - you must have noticed I've been following its fallout for the last 4 months.

[2016-02-15 20:13] jan-hudec commented on #6
I pushed 0.2.1, which builds here for arm. It also uses libc 0.2.

[2016-02-15 20:13] #6 closed

[2016-02-15 20:19] ogham commented on #6
There has been quite a lot of invisible-to-x86-users ARM breakage.

[2016-02-15 20:40] jan-hudec commented on #6
Unfortunately I don't think Travis would have the cross-compilation libraries, not to mention emulator to run the tests. It does have Android emulator, but I am not sure I could get both Android and rust in the same build from it and because Android does not have GNU locales, that would not reveal the problem anyway. And Windows have signed char just as linux.

[2016-02-15 21:32] MagaTailor commented on #6
`Rust 1.5` is broken now though. Probably not such a big deal but still, one stable version back should be supported (LFS is only present in 1.8 anyway)

[2016-02-15 22:33] jan-hudec commented on #6
On Monday 15 of February 2016 13:32:41 petevine wrote:

Everywhere, or just arm?

[2016-02-15 22:47] MagaTailor commented on #6
It was fine before cause it was pure libc `0.1` so it's back to the 9 errors. Outta here!

[2016-02-15 22:49] jan-hudec commented on #6
On a side-note, I've managed to get `cargo test --target=arm-unknown-linux-gnueabi` to work. There was a couple of hoops to jump through:
- Neither version of multirust supports installing the cross libraries yet, so it has to be done manually as explained [here](https://github.com/japaric/rust-cross).
- Debian/Ubuntu `gcc-multilib` breaks the cross-compilers (except the mingw ones), but `gcc-5-mu

[2016-03-02 23:50] jan-hudec opened #7 "Redesign plans"
Ok, so [RFC#858](https://github.com/rust-lang/rfcs/issues/858) seems somewhat sensible, so I'd like to make this what could be implementation of that idea.

# Split

For compatibility reasons, the crate will be split. Early [brain dump here](https://users.rust-lang.org/t/forward-compatible-design-for-locale/4838).

## Crate `locale`

The basic crate will contain:

 - A `Locale` struct, that will h

[2016-03-03 07:57] gnunicorn commented on #7
I'd like to volunteer helping in this.

[2016-03-04 23:24] jan-hudec commented on #7
# Needed interfaces

For `locale` proper.

## System information
1. Find what the user default locale is.
2. Find the list of available locales.

For each locale, we should return the identifier, language full name in itself, country full name in the language and preferred encoding.

## Locale objects
1. Construct standard locale implementation for user default locale.
2. Construct standard locale

[2016-03-06 22:30] mrhota commented on #7
Bit of a bikeshed: I want to caution against using _only_ C++ stdlib's `locale` components for inspiration. We have more modern languages and libraries with internationalization APIs. In particular, I know Java's internationalization APIs aren't all bad, and they're quite different from C++'s. Does anyone know anything about .NET/C#?

I'd also like to suggest ICU4C and ICU4J as sources of inspirat

[2016-03-07 07:08] mrhota commented on #7
I'm doing some research on other languages, and I'm compiling a small list of reading material:

Java: http://docs.oracle.com/javase/tutorial/i18n/index.html
.NET `CultureInfo`: https://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo%28v=vs.110%29.aspx
.NET `System.Globalization`: https://msdn.microsoft.com/en-us/library/system.globalization.aspx
`Boost.Locale`: http://www.boost.

[2016-03-07 09:24] jan-hudec commented on #7
So, broadly speaking, there are two approaches:
- Make the “Locale” object provide the objects handling the collation, number formatting, date formatting etc. aspects.
- Have separate objects provide the handling of each aspect and configure them with “Locale”, which is basically just identifier.

I prefer the former and the reason is extensibility. There are many advanced options that most applic

[2016-03-07 15:02] mrhota commented on #7
Sounds good.

I think first order of business is getting structure of `Locale` together. Construction, normalization, validation, of language and region tags; stuff like that. What do you think?

The ECMAScript Intl standard has a straightforward interface for retrieving what you're calling "facets".

Java's Locale API docs have very extensive discussion of language-tag and region-tag parsing, nor

[2016-03-07 18:18] jan-hudec commented on #7
@mrhota, I think we could use the wiki here. I'll start writing it down.

Regarding the `Intl` from ECMAScript, though, it does not match what I have in mind. The `Intl` is a _module_. I want the `Locale` to be like the C# `CultureInfo` or C++ `std::locale`, returning or building the formatters itself.

That makes the tag normalization less important, because the factory will take the tag, try to

[2016-03-08 05:15] mrhota commented on #7
I have a few questions about the sketch you laid out in the wiki:

Can we forego talking about `Arc` and just leave it out for now? Let's not optimize too early. We can always add it (or something else) later, if needed.

You mention "global object". What global object? Do you mean a default/system `Locale`? And what do you mean when you talk about setting the default? Can you write some pseudocod

[2016-03-09 09:19] jan-hudec commented on #7
It is not optimization. It is needed to get the intended semantics.
- The facets are trait types to allow alternate implementations, so they must be held by references.
- The references must be owning so the `Locale` can be passed around.
- It should be possible to derive a `Locale` that uses facets from another, only replacing a specific one, so either the references must be shared, or `Facet` mu

[2016-03-10 13:29] jan-hudec commented on #7
Hm, @mrhota, in a sense you are right about the `Arc`. Problem is that unlike `Box`, `Arc` does not seem to support runtime polymorphism. It seems there will be some serious hoops to jump through here.

[2016-03-10 19:46] ogham commented on #7
@jan-hudec: it's clear that the people in this thread know more about locales than I do! Should I move this crate to a "rust-locale" github organisation?

[2016-03-10 19:54] jan-hudec commented on #7
@ogham, there is no hurry as it's nowhere near actually pushing any releases, but in the long run it would certainly make adding interested people easier.

[2016-03-10 20:01] jan-hudec commented on #7
Ok, @mrhota, correcting myself regarding the `Arc`s. `Arc<Trait>` works fine. Unlike `Box<Any>`, `Arc<Any>` does not have the `downcast` method, but it wouldn't help with this case anyway, because casting from `Box<Trait>` to `Box<Any>` is not permitted anyway. So the facets can be held in `Arc<Numeric>` , `Arc<Time>` etc., just those will have to be wrapped in extra layer of indirection in the `L

[2016-03-10 23:29] mrhota commented on #7
I admit you've lost me. :-/ I think I don't yet understand how you're
visualizing the locale api.

Even though I'm not totally clear on it yet, I get the point you made
earlier about Arc allowing a certain semantics, but surely the same
semantics could be achieved in another way (?). That would make Arc the
very definition of an implementation detail here.

I want to hammer out the semantics you m

[2016-03-11 08:19] jan-hudec commented on #7
You are right. We should have the user stories written in user story form first instead of trying to just explain them in documentation of each feature.

I hope it works like wiki and every registered user has a permission to edit. But either way I'll create the organization for it and then you'll have full permissions there.

[2016-03-11 13:18] ogham commented on #7
Not if I get there first! `Cargo.toml` still points to my server, but that can be fixed the next time something is released. (I hear GitHub Pages is where people host their Rustdocs these days.)

[2016-03-11 13:27] jan-hudec commented on #7
@ogham, I see you created it. It does not really matter who did as far as the right people are members.

As far as `Cargo.toml` goes, I would leave it pointing here until the redesign is prepared.

[2016-03-11 13:37] jan-hudec commented on #7
@ogham, ah, I see, you _moved_ the repository. I thought it would be cloned there, so the current version would remain pointing where it did. Since github seems to be redirecting properly, it is probably better, yes.

[2016-03-11 13:50] ogham commented on #7
I feel like I should explain why I wrote the locale crate the way it is in the first place. @jan-hudec, you said that the crate is “basically useless”, which I don’t really disagree with...

When I was writing exa, I needed some way to read the system’s locale definitions and use them to format numbers and dates, and nothing else. For example, [on this line](https://github.com/ogham/exa/blob/252eb

[2016-03-11 13:51] ogham commented on #7
One more thing I spotted:

I haven’t used `Boost.Locale`, but I agree with this. Having different types for numbers and money is easy to do in Rust.

[2016-03-11 14:01] jan-hudec commented on #7
Yes. Besides, I want to have the money quantity carry around the currency. The traditional monetary format simply uses the nation's currency, but it is quite common to print amount of different currency. Especially around this place at this time when we are in EU, but outside Euro zone, so both Kč and € are common.

[2016-03-11 14:16] jan-hudec commented on #7
Localizing messages will be major work. I would actually prefer to put the gory details in a separate crate (called probably gettext). I am just not sure whether to put it in the same repository in a subdirectory or in a separate repository altogether. The reasons are that it is rather non-trivial and mostly self-contained functionality and because there will certainly be at least one alternative

[2016-03-11 14:30] ogham commented on #7
I figured it would be, yeah. It's better to place separate crates that all needed to be updated together in the same repository (such as [phf](https://github.com/sfackler/rust-phf) or [regex](https://github.com/rust-lang-nursery/regex)).

On my OS X machine, they all seem to be in separate files:

[code]

However I sidestepped what the C library was doing for the locale crate in favour of just rea

[2016-03-11 14:49] jan-hudec commented on #7
In GNU Libc (Musl and Android do it differently) there are separate files, but they are post-processed after installation to a bundle, `/usr/lib/locale/locale-archive`, that is what gets mapped at runtime.

[2016-03-11 14:50] jan-hudec commented on #7
The only exception is the message catalogs, that each remains a separate file under `/usr/share/locale/`_id_ID_`/LC_MESSAGES/`, because each application has its own message catalog.

[2016-03-11 15:09] jan-hudec commented on #7
That's what I am not sure how much is needed. The interface to the .mo file itself is pretty simple. Here the reason is more that I am not sure it is worth creating a repository for something that will be basically a single class, plus dependency on [memmap](https://crates.io/crates/memmap). I just want to keep it a separate crate in case somebody wanted to build minimal localization with just tha

[2016-03-11 15:34] mrhota commented on #7
Regarding date/time in Rust, here's an issue recommending an out-of-tree replacement crate for robust date/time handling:
https://github.com/rust-lang/rust/issues/14657

Here's a crate linked to from that issue: https://github.com/rust-lang/rust/issues/14657
I don't know its state.

That issue has a wealth of great links. The author of jodatime provided some input, too.

[2016-03-11 16:01] jan-hudec commented on #7
I've noticed [chrono](https://crates.io/crates/chrono) already and intended to use it for formatting its types and as helper for formatting the types from `std::time` while guiding the design to make it easy to integrate any other calendar library that emerges.

[2016-03-11 22:48] jan-hudec commented on #7
@mrhota, I wrote down most use-cases I had in mind except the last two concerning monetary that only got short mention so far. Go have a look at https://github.com/rust-locale/rust-locale/wiki/UseCases if you want.

[2016-03-14 19:34] jan-hudec commented on #7
I wanted to look at parsing gettext files and noticed that @justinas is already working on it in https://github.com/justinas/gettext.

@justinas, I am not sure this will notify you, but if it does, would you be interested in joining this wider discussion?

[2016-03-15 09:32] jan-hudec commented on #7
Ok. I wrote the last two use-cases I had in mind, with points to decide, and got an idea or two how to attack them.

Now I'll create a `next` branch and start prototyping (I am quite confident about the general layout of `Locale` anyway; what I am not sure about much yet is the factory though).

[2016-03-15 09:34] jan-hudec commented on #7
Site note: why is GitHub saying i _removed_ my assignment, when it never said I was assigned in the first place, and why it is refusing to assign me back (whatever the previous state was it _does_ make sense that I should be assigned).

[2016-03-15 10:34] justinas commented on #7
@jan-hudec Sure, thanks for mentioning me!

I still haven't gone through all of this, but I'll add my random notes concerning gettext.
- The state of [gettext](https://crates.io/crates/gettext): the only major missing feature is parsing the plural forms from the catalog. Finding the paths of system gettext catalogs, detecting the locale, etc., should IMO go into another crate.
- The crate has not

[2016-03-15 21:16] jan-hudec commented on #7
I would then also like to see mmapping the `.mo` file instead of reading it in advance ([memmap](https://crates.io/crates/memmap) seems usable), but that is just optimization and can wait until after all important features are in place.

Yes, that is my plan too. The `locale` should have a “Messages” facet that will take care of detecting the appropriate setting and then use `gettext` as a backend

[2016-03-15 21:39] jan-hudec commented on #7
By the way, @ogham, can you promote me to owner here, so I can set up travis and appveyor more easily?

[2016-03-16 14:40] justinas commented on #7
@jan-hudec are there any benefits of mmap other than cpu/memory/disk efficiency?

IMO catalogs usually won't be very large and most of the time is spent after actually reading the file. We still need to parse the plural formula, decode the strings, etc. Concerning the latter, in theory we could special-case UTF-8 and create &str's directly, although I'm not sure if the performance boost is worth i

[2016-03-16 15:31] jan-hudec commented on #7
@justinas, no, it is just optimization. But:
1. Rust is designed to be usable in restricted environments, so there may be cases where even the few kilobytes of memory may matter (especially if the same process will get started many times, because mmaps are shared).
2. Quick search on my system revealed some `.mo` files over 0.5 MiB, among other `subversion.mo` and `hg.mo`, which are command-line u

[2016-03-18 13:30] jan-hudec commented on #7
On a side note, I just had a nasty encounter with .NET localization. They use it in all the default functions (like `String.ToDouble` and `String.Format`) and the default locale is user default, reconfigured for each thread. So of course, if the application uses these to read and write numbers from XML, and if my computer is set differently than my colleague's one, it all breaks down hard.

So it

[2016-03-18 14:57] justinas commented on #7
@jan-hudec assuming OS executable loaders are smart and mmap the binaries, could we just point users to `include_bytes!` macro for embedding the catalogs into their binary? Not having to package external resources helps with deployment as well :)

Regarding supporting alternative encodings: I did a quick `find -iname '*.mo' | xargs strings | ag Content-Type | ag -iv utf | wc -l` on my OS X machine

[2016-03-18 15:05] jan-hudec commented on #7
Yes, OS executable loaders generally mmap binaries. And yes, embedding catalogs would be a useful option in many situations.

Ad encodings, the encoding of the .mo file is basically up to the project that includes it. So the existing projects written in various languages may have them encoded in various legacy encodings, but Rust projects can, and should, encode them in UTF-8. So the only case whe

[2016-03-18 20:35] jan-hudec commented on #7
@justinas, for embedding the catalogues in the binary, we might devise our format (possibly as source, compiled in by rustc) to save all the copies of the original strings. And use it also for bundling data extracted from CLDR, which I am considering anyway, because availability of the data in the C runtimes is rather inconsistent across various systems.

[2016-03-21 15:12] jan-hudec commented on #7
Ok, I've made mostly made up my mind and will start prototyping as it will be easier to discuss the finer points over compilable and testable code than over vague handwaving on a wiki.

In the process I will make the `linux` (and `macos`) submodule, that provides binding to libc `struct locale` and `nl_langinfo` function, private. It will continue to exist and be used in the actual implementation,

[2016-03-22 06:14] mrhota commented on #7
I just dumped some of my thoughts about how `Locale` objects should look/behave into a [wiki](https://github.com/rust-locale/rust-locale/wiki/Locale-objects). Take a look, correct any errors, etc.

Fair warning: I'm still biased toward the Java style `Locale` API. I've been researching C++'s locale api for the past few days. I'm not impressed. It seems incredibly un-ergonomic. I don't think we'd b

[2016-03-22 14:00] jan-hudec commented on #7
@mrhota,

No. A normal user never ever touches the facets. Not in C++ and not in what I want to do. Normal user just uses the `MsgFmt` or the `Localize` trait, which is analog of `std::fmt::Display`, but for locale-aware operations.

Most normal users don't even touch the `Locale` struct itself, because the default instance is all they need. Only when they need to configure the locale themselves t

[2016-03-22 18:13] mrhota commented on #7
@jan-hudec thanks for this.

I keep forgetting it that this is the most important point at this stage. :smiley:

I'd like to work out some of the deeper implications of having a dumb locale; specifically, whether the simplicity of that decoupled design _requires_ more complication when we deal with storing and retrieving locale data. I'll think through it on a wiki page.

Also, don't forget two ot

[2016-03-22 21:53] jan-hudec commented on #7
@mrhota,

It requires some kind of lookup. But how complicated it is depends on how extensible it should be. Extensible implementation allowing user to provide an extended implementation of some of the functions, e.g. rule-based number formatting or some unusual calendar, would require a cache with polymorphic objects and that will require some shenanigans with `Any` and `Arc` and the data structu

[2016-03-29 16:09] jan-hudec commented on #7
Ok, @mrhota, after thinking about this a bit more, I came up with the following:
- The `Locale` will just wrap a string describing the locale.
- It might be as simple as the language and country code, but might get additional options tucked on to it to allow using different language+country for specific category as can be set in Unix (e.g. `en-GB`, but collate as `cs-CZ`) or specific attribute as

[2016-03-29 23:54] mrhota commented on #7
There is a standard for "language tags", as they're called. [BCP 47](http://tools.ietf.org/html/bcp47), which consists of [RFC 5646, "Tags for Identifying Languages"](http://tools.ietf.org/html/rfc5646) and [RFC 4647, "Matching of Language Tags"](http://tools.ietf.org/html/rfc4647). The Unicode Locale Data Markup Language document also has relevant information for language tags.

That's what we sh

[2016-03-30 01:10] mrhota opened #8 "locale bindings should live in rust-lang/libc"
I'm not sure what the approach should be here. As I see it, we have two options:

1. We enhance `libc` or some other appropriate lib to include bindings to system locale services.
2. We provide our own bindings to supported systems' locale services.

Have I forgotten anything?

I've got a question/issue started over on libc's repo: rust-lang/libc#242

[2016-03-30 07:33] jan-hudec commented on #8
The bindings for GNU Libc `locale_t` struct and `nl_langinfo_l` function are already there! Look at the code (the `linux` submodule). However:
- It will need proper conditioning on target, since:
  - OSX also has those functions, but the set of supported items is different (GNU LibC has _a lot_ of extensions).
  - Musl also has those functions, but the set of supported items is different, and very

[2016-03-30 07:49] jan-hudec commented on #7
@mrhota, yes, yes, I am reading that and I intend the tags to _contain_ that specification.

However, I want to, first and foremost, be able to represent the settings that can be set in actual operating environments. And the RFC5646 is not enough for that.

So what I want to have is `:`-separated array of tags (for fallbacks from `LANGUAGE`), where all but the first may be prefixed with _category_

[2016-03-30 07:58] jan-hudec commented on #8
By the way, @mrhota, do you have any idea what is the distinction between user locale and user _UI_ locale on Windows?

[2016-03-30 08:42] jan-hudec commented on #7
Since many of them are already covered by [Unicode `-u-` extension](http://www.unicode.org/reports/tr35/#Locale_Extension_Key_and_Type_Data) (time format, calendar, currency), it seems to make most sense to define the rest (which is basically just group and decimal separator overrides) using the same syntax under `-x-` (so e.g. `-x-gs-0080` or `-x-ds-002e`, using codepoint numbers).

[2016-03-30 14:56] mrhota commented on #8
I have a PR for libc at rust-lang/libc#244

I fixed the title of this issue.

Bindings for i18n-related, platform-specific functions and types should live in libc. That's its whole purpose. It also takes care of conditionally including/excluding relevant things from given targets. There's no need for this project to duplicate that effort.

[2016-03-30 14:58] mrhota commented on #8
No, I know next to nothing about Windows. Is that question relevant to the issue here; bindings to system library functions and types?

[2016-03-30 15:09] jan-hudec commented on #8
They probably should. But I don't think the interpretation of the returned value as string, byte, byte array or string array depending on the parameter passed is in libc scope and that is the only substantial part of that binding. And then we'll have platform dependence here anyway, because different functions must be used on GNU LibC, other POSIX, WinAPI and Android. Having the five functions, on

[2016-03-30 15:33] mrhota commented on #8
Can you be more explicit?

[2016-03-30 16:06] jan-hudec commented on #8
The stuff in [src/linux/langinfo.rs](https://github.com/rust-locale/rust-locale/blob/a524ccbfa282899d1cb2691385adfec74a1b68a8/src/linux/langinfo.rs).

Of course if it is going to be internal implementation detail, we can probably drop the enums and just call the `decode_*` functions explicitly in the facet implementation. But I don't think those are in scope of `libc` and that is where the largest

[2016-04-02 19:07] mrhota commented on #8
`nl_langinfo{_l}` returns `*mut ::c_char`, plain and simple. There should be no need to interpret returned pointers as strings, byte arrays, or string arrays.

[2016-04-02 19:31] mrhota commented on #8
BTW, I put together bindings and type defs for all non-windows platforms that libc supports. This gives access to stuff in locale.h, xlocale.h, and langinfo.h.

[2016-04-02 21:27] mrhota commented on #8
@jan-hudec I see the commit message for your discussion about `nl_langinfo_l`, but I'm still trying to find documentation about that function's return values needing to be interpreted in different ways. The documentation at [Open Group specs](http://pubs.opengroup.org/onlinepubs/9699919799/functions/nl_langinfo.html#) says the return value is a string. The GNU C Library Manual also talks about `nl

[2016-04-03 21:33] jan-hudec commented on #8
It does. But you can't work with that type in Rust directly, so the second layer is needed to convert it into a native Rust something. And that is done differently depending on the constant used.

Well, there are some items, most obviously `GROUPING` and `MON_GROUPING`, that don't have obvious representation as string. So I checked. And `nl_langinfo(GROUPING)` gives a string starting with `"\003\0

[2016-04-04 06:42] mrhota commented on #8
For the purposes of this project, we don't care about these details. Who cares how f***ed up GNU extensions are? I have provided bindings to functions and types in rust-lang/libc. If users want to torture themselves using libc crap, they can have at it on their own time.

We should not wrap C's crappy API. We should call `setlocale` once to figure out current locale when rust-locale loads, and (pr

[2016-04-04 06:42] #8 closed

[2016-04-04 06:52] mrhota opened #9 "delete autogenerated bindings to platform interface"
1. Platform bindings live in rust-lang/libc.
2. The binding generator naively created constants for all internal langinfo #defines. Most of that stuff shouldn't ever be seen by users. That's why they start with `_`...

Trying to deal with GNU's whimsical crap is insanely complicated. Let's K.I.S.S.

[2016-04-04 07:04] jan-hudec commented on #9
I have them unpublished locally already.

I don't agree trying to deal with _GNU's_ crap being insanely complicated though. The `grouping` and `mon_grouping` fields in [struct localeconv](http://pubs.opengroup.org/onlinepubs/9699919799/functions/localeconv.html) have the same exceptions. GNU LibC is better than other LibCs in that it at least provides _everything_ it knows via the `nl_langinfo` fu

[2016-04-04 07:08] jan-hudec commented on #9
Actually no; I am pretty sure that stuff _is_ intended to be seen by users. They start with `_` because they are extension and the standards actually don't allow system headers to define extensions that don't start with `_`.

It is, however, system specific, so we'll need to provide it ourselves for the systems that don't have it anyway. And when we do, there is no reason to use it on GNU either.

[2016-04-04 07:08] mrhota commented on #9
I think it's still not our problem. People who want or need `grouping` and `mon_grouping` can handle it themselves using rust-lang/libc. Our library will provide a more complete, more sane interface than platform libc. Let's not pollute this library with it.

[2016-04-04 07:09] jan-hudec commented on #9
No, we definitely shouldn't be exporting any bindings to C runtime. And we won't.

[2016-04-04 07:11] mrhota commented on #9
Agreed. Can we agree that we shouldn't _wrap_ platform interfaces either?

[2016-04-04 07:16] jan-hudec commented on #9
We won't.

We definitely won't do so publically.

When the https://github.com/rust-lang/libc/pull/248 is merged, we won't need to be binding any functions internally either. We will still need to do the interpretation in `localeconv` and possibly define some of the system-specific constants.

However I am somewhat leaning towards _first_ doing bundled data taken from CLDR and then, well, there pro

[2016-04-04 07:23] jan-hudec commented on #8
No, we don't.

However,

They are the sanest out there. They actually allow getting all the values without having to set global state.

No, we should **never** call `setlocale`. _IF_ we want to use libc as backed, we will be forced to call `uselocale`. I wanted to avoid that too, but `strcoll` and `strxfrm` don't seem to have variant taking `locale_t` and on non-GNU systems `localeconv` is needed

[2016-04-04 15:33] mrhota commented on #9
I can't imagine a reason we would care what `localeconv` has to say about anything. Maybe I don't understand what you mean, though. Can you expand on why you think `localeconv` should/would be used in rust-locale? Imagine we're using CLDR data _only_. Does that change things?

If you look at how the java runtime uses platform locale functions [when it boots](http://hg.openjdk.java.net/jdk9/jdk9/jd

[2016-04-04 15:44] mrhota commented on #9
_Absolutely!_ There are a variety of ways that we can distribute 1) all CLDR data or 2) a subset that the user specifies. I'm thinking [cargo [features]](http://doc.crates.io/manifest.html#the-features-section) together with a CLDR parser, similar in spirit to python-babel's, but there might be better ways. Anyway, the details don't matter right now. I'll create an issue for it.

[2016-04-04 15:56] mrhota opened #10 "design CLDR distribution mechanism"
I mentioned this in #9. We don't have to create something novel here; other projects have blazed this trail before. Perhaps take a look at jquery globalize and python babel. They are linked on the [References](https://github.com/rust-locale/rust-locale/wiki/References) wiki page.

I mentioned cargo's [features] sections to allow users to specify which data they need as part of the rust-locale dist

[2016-04-04 15:57] mrhota commented on #9
See #10

[2016-04-04 15:57] jan-hudec commented on #9
Only if we want to use the system data for anything. If we just use CLDR, there is indeed no point.

I was thinking about using the system data, or using them initially, but it will probably be easier to just use CLDR. In which case, honestly, I don't see point in using _any_ libc locale function, _ever_. Because

That's exactly where we can't call it, because Rust does not have global constructor

[2016-04-04 16:05] jan-hudec commented on #10
For $work, what I do is that I create special "messages" like "digits|01234567890", "plus_sign|+", "locale_name|English (USA)" etc. (`|` is actually "\036"-or-whatever-gettext-uses-as-context-separator), add them in the `.pot`, translate them from CLDR using a python script and compile them in the `.mo`. And simply get everything from the messages.

So I think we should eventually have two methods

[2016-04-04 16:17] mrhota commented on #9
You're right. ~~Imagine a method like `Locale::getDefaultLocale()`. If not already constructed, that's when `setlocale` could be called~~ Actually, you're right, what's the point? We should determine platform locale from the same place libc does. Like you said, env. variables, or even some config file we can specify.

I'm glad we're hashing this out. Looks like we're on the same page :smiley:

Yes

[2016-04-04 16:47] mrhota commented on #10
That's an interesting approach.

By "everything" do you mean all of CLDR data in one data structure?

python-babel appears to pickle/serialize CLDR data into lots of files. One file for en-US currency names, one for es-MX currencies, same for datetimes, language names, and all the rest. Is this what you meant by your first bullet point? If not, we should add this method to the list.

The script th

[2016-04-04 16:50] jan-hudec commented on #10
By bundled I meant the way ICU does it. All data, for all supported locales, go in the shared library.

[2016-04-04 17:46] jan-hudec commented on #10
Hm, interesting.

Basically by bundled I mean similar approach to ICU. They just pack everything into one big binary file and potentially link it into the shared library itself.

I have rejected it for $work because the pack is [really huge (~29MiB)¹](http://apps.icu-project.org/datacustom/). However, for desktop it shouldn't be a problem and we don't want to include everything they do (especially

[2016-04-04 18:34] mrhota commented on #10
Yeah, avoiding a _full CLDR install_ would be helpful.

I think we can leverage cargo's [features] like the examples below, but I'm not super familiar with it, so it might not be suitable. If you can think of a better mechanism for letting users select specific locale data, we should list it here (or the wiki).

`cargo install rust-locale --features "en_US vi_VN zh_CN"`
or
`cargo install rust-loca

[2016-04-04 18:47] jan-hudec commented on #10
That would be insane; there is well over hundred of those.

I would just have a bundled CLDR (a couple of MiB, in a shared library no problem for desktop or newer mobile) and the keys that the application would inject in its `.mo` files using provided utility for those applications that are intended to run in severely restricted environments.

Also,

Remember, `locale` is a library. It is installe

[2016-04-04 19:03] mrhota commented on #10
Well, yeah. :smiley: But imagine I'm a dev at Foo, Inc. and our main product, FooForYou, only supports American English, Vietnamese, and Mandarin. Then selecting "features" like that would be reasonable since those three are all I care about. As FooForYou supports more and more locales, adding each individual tag becomes unreasonable, and you'd want to just say "give me everything CLDR supports" o

[2016-04-04 19:10] jan-hudec commented on #10
That's what the `.mo` approach is for. You just request `features = []` and ask the `rxgettext` tool to add the CLDR data to your translation catalogs.

[2016-04-04 19:48] mrhota commented on #10
OK, for the full-CLDR-install case, I understand it to be something like this:
1. User installs rust-locale, indicating (somehow) they want all CLDR data.
2. CLDR data files are installed so rust-locale can use them.
3. User constructs a `Locale` object, `foo`, and rust-locale does The Right Thing (opening files? mmap-ing files?) so the CLDR data files/data are accessible for locale sensitive serv

[2016-04-04 20:12] jan-hudec commented on #10
The `.mo` is very similar to the Java properties. It is simply an external hash.

The specific thing with `.mo` files is, that the keys are strictly either the original string, or a pair of context and original string. This has two advantages:
- it automatically falls back to the primary language (usually English), which makes missing translation bugs less severe and
- it makes it easy to track ch

[2016-04-05 04:47] jan-hudec commented on #10
Regarding storing the locale data in `.mo` files, remember, that in GNU LibC, _all_ the locale data are read (even internally) via `nl_langinfo`, which returns a string (the bytes and byte arrays can be encoded in strings easily and the wide variants are just alternates we don't need). So instead of `nl_langinfo` we just do a `cgettext`.

E.g. numeric formatting needs digits, + and - sign, decimal

[2016-04-05 06:30] mrhota opened #11 "design locale representation"
See [locale objects](https://github.com/rust-locale/rust-locale/wiki/Locale-objects) wiki page.

[2016-04-05 06:32] mrhota commented on #11
I reorganized the wiki page. I've taken a liking to the kind of language used in the ECMA-402 spec, so I used a bit of it to describe a couple of abstract locale constructors. Enjoy!

[2016-04-05 06:35] mrhota commented on #11
I don't know if we need two different types of locales---one with strict adherence to BCP47 and one without---but it helps illustrate the possible use-case for "lenient" and "strict" constructors of some kind.

[2016-04-05 08:08] jan-hudec commented on #11
Requirement: Locales _must_ be able to represent any setting possible on Linux, Windows, OSX and Android

RFC5646 alone is not sufficient to achieve that, so here is the grammar:

[code]

The `langtag` mostly follows RFC5646, except:
- Our private use has the same format as other extensions, so it does not get a separate production.
- The `4*8ALPHA` variant of `language` is omitted and only one su

[2016-04-05 09:56] jan-hudec commented on #11
I have rewritten the https://github.com/rust-locale/rust-locale/wiki/Locale-objects again, with the above design.

[2016-04-05 14:12] mrhota commented on #11
libc and GNU back to haunt us again... Isn't that where these language tag monstrosities come from?

Can we just stick to BCP47 for now? Is there a good reason why we have to support, from the beginning, _exactly_ what libc supports? We've already decided to postpone `/usr/share/locale`-DB support...

[2016-04-05 14:36] jan-hudec commented on #11
No, we can't. Not on Windows and not on Unix. I am not relaxing the requirement of representing the system settings in their entirety.

[2016-04-05 14:58] jan-hudec commented on #11
By the way, this is not about GNU. Windows is actually bigger offender here, because it allows overriding _each and every item_ separately. And users are used to it and expect software to honour their settings.

Also, don't take Java as a good example. It is a horrible example more often than not.

[2016-04-05 15:52] mrhota commented on #11
haha I thought the same of C++! I'd like to know your reasoning, perhaps in a new wiki page for criticisms of extant libraries and APIs?

When we take a hard stance for a feature, it would be nice if we provide an explanation and/or justification. We need to be able to reference it later, and everyone else on this project should be able to understand our reasoning.

---

OK, so there are two issue

[2016-04-05 15:59] mrhota commented on #11
The guiding principle I have in mind when I suggest the above is: `Locale`'s constructor should remain as simple as possible and comply with BCP47.

If it should depart from the standard, we should have a Very Good Reason.

Lacking any compelling argument against it, I think we can parse env. settings in a separate place without concatenating all the things into one string and parsing it.

[2016-04-05 18:20] jan-hudec commented on #11
C++ is (generally) designed quite well for orthogonality and extensibility. And while the `locale` module is not the best example of it, it is still pretty good at it. It is an interface that a library can implement and the application can set it and everything then uses it. And libraries do extend it and new revisions of the standard extend it.

And for casual use, it is still simple. You just se

[2016-04-05 18:39] jan-hudec commented on #11
It was very explicitly BCP47-compliant. And it was exactly what you wanted and I refused to call “locale”, because for me the goal was from the start to represent the system settings and this intermediate step was not particularly interesting.

We are designing _interface, not implementation_.

The parsing of system settings will only happen somewhere deep in the library and all the user will see

[2016-04-05 19:25] mrhota commented on #11
https://docs.oracle.com/javase/8/docs/api/java/util/spi/LocaleServiceProvider.html

---

I don't see any reason to avoid the name `Locale` now that you've clarified and distinguished the usage of `LanguageTag`. I'm happy with that!

[2016-04-05 20:03] jan-hudec commented on #11
I'll take a look. Java is not a language I regularly use and the documentation is not so easy for me to navigate in.

It will probably be a bit confusing for other people with Java background too, but if we don't come up with something else _short_, with proper documentation, it should do.

[2016-04-07 06:37] mrhota commented on #11
@jan-hudec @ogham I'd like to be made a contributor. I have a languagetag prototype I want to put into a branch here.

[2016-04-07 07:08] jan-hudec commented on #11
@mrhota, I fixed the permissions so all members have write everywhere (and you are a member).

[2016-04-07 07:45] jan-hudec commented on #11
Some technical notes I have so far:
- The `LanguageTag`, `Locale`, and appropriate global instances, should live in an auxiliary subcrate, `locale_core`. I am just not sure whether to create a new repository for it or just include it in a subdirectory. The reason is to avoid (we can't prevent it, but we should be able to avoid most reasons for it) having multiple copies of the global instances in

[2016-04-07 18:31] mrhota opened #12 "LanguageTag canonicalization"
Canonicalization requires referencing the ISO 639 registry for language codes and subtags (or whatever else they're called).

The easiest thing to do would be to include/hardcode the contents of the registry in a file along with other deployment artifacts. However, the registry changes over time (probably not very frequently), so we'd need to produce a new release in order to include registry upda

[2016-04-08 13:10] jan-hudec commented on #12
There are two steps to canonicalization:
- case normalization and variant and extension sorting, which does not require any data and
- replacing the deprecated forms with the standard ones, which does.

The first should be simple.

The later, I think we don't need to be all that precise with it. Basically I think if we come across a tag we don't know about, we'll just let it be. So we would only n

[2016-04-27 18:25] jan-hudec commented on #12
Ok, so I've pushed prototype that syntactically normalizes the tags and gets the tag from the POSIX locale variables to the [next branch](https://github.com/rust-locale/rust-locale/commit/8c8560c79bf49747a132bfa136f79ecfb36b3568). @mrhota, care to review?

So far:
- I based the parsing on your regexps. Somehow I had mental block against them before you created that, but they do look more readable

[2016-04-27 18:41] jan-hudec commented on #11
Ok, I decided to keep the regexes, at least for now. It should be mostly written in https://github.com/rust-locale/rust-locale/commit/8c8560c79bf49747a132bfa136f79ecfb36b3568.

What is left is getting the tags from `Locale` and subtags from `LanguageTag`. I am currently thinking that:
- `Locale` should return `Iterator<LanguageTag>` that apply to provided category.
- `LanguageTag` should have meth

[2016-04-27 18:47] mrhota commented on #12
@jan-hudec ok, I just took a quick glance now, but I'll take longer look tonight (CST).

What's the use-case for users pulling in multiple versions of the locale crate? Would someone do that on purpose?

[2016-04-28 07:30] jan-hudec commented on #12
It just happens as various crates are updated to newer version of their dependencies at different times. At a time, [exa](https://github.com/ogham/exa) was getting linked to libc 0.1 _and_ libc 0.2, because `locale` still used 0.1 while other dependencies were already upgraded. And for locale
- it is likely other libraries will depend on it and
- it is likely to go through some major revisions giv

[2016-04-28 07:43] mrhota commented on #12
Why is this something we should care about and write code to try to work around? It seems like the problem in exa was that two versions of the lib were pulled in, not that exa lacked code to handle that possibility. If you're pulling in two versions of `locale`, isn't _that_ the bug?

[2016-04-28 09:06] jan-hudec commented on #12
No, that isn't a bug. It is what Rust does by design. And for most libraries there is absolutely no problem. The only moment a problem occurs is when there is a user-settable global variable. Which is rare, but `locale` is special and needs one.

[2016-04-28 09:18] jan-hudec commented on #12
Actually, problem also occurs when implementing traits from other libraries, but if that problem occurs, the compilation will fail. On the other hand with the global instance it will silently split, so everything compiles, but then some things will silently not work in a way that will be hard to analyse. That's why I want to avoid it for the global instances (`GLOBAL_LOCALE` and `CURRENT_LOCALE`)

[2016-04-28 16:50] mrhota commented on #12
Let's keep this issue about langtag canonicalization. If you want to deal with the fallout from introducing global mutable state and its bad interactions with cargo, we can have a new issue for it where it can be tracked and discussed separately from what I think are more pressing concerns.

[Cargo issue 2363](https://github.com/rust-lang/cargo/issues/2363) is relevant to the multi-version + globa

[2016-04-29 18:38] jan-hudec commented on #12
So, back to the canonicalization. I looked in the second part of BCP47, [RFC4647](https://www.rfc-editor.org/rfc/rfc4647.txt), and it says:

And the semantic difference is that RFC5646 tags identify language of resources while the RFC4647 ranges identify required or accepted language. And the `Locale` does the _later_.

The `Locale` and the `LanguageTag`s that compose it still need to be syntactic

[2016-04-30 01:17] mrhota commented on #12
To clarify: are you suggesting breaking canonicalization into two or more subparts: case-normalization, sorting, validity checks against the ISO 639 DB?

If so, then I vigorously agree.

[2016-04-30 01:25] mrhota commented on #12
and validity checks against the ISO 639 db should be entirely optional

[2016-05-02 06:20] jan-hudec commented on #12
Yes, precisely.

[2016-05-13 05:34] mrhota commented on #12
I did some research and it looks like ISO 639 (or something very similar) is provided with CLDR ([supplemental/aliases.json](https://github.com/unicode-cldr/cldr-core/blob/master/supplemental/aliases.json)).

Installing CLDR data (which should be a separate crate) will therefore allow us to provide validity checks and perform full canonicalization for language tags if we want.

[2016-05-13 05:48] jan-hudec commented on #12
… now where does that live in http://unicode.org/repos/cldr/. Oh, right, http://unicode.org/repos/cldr/tags/latest/common/supplemental/supplementalMetadata.xml

[2016-05-13 13:36] mrhota commented on #12
yes, i think so. also, the files in common/validity.

I'm not sure of the state of xml parsing libs in rust, which is why I
pointed at the json file first. Obviously, the XML files are more complete,
if a bit tougher to parse with pure rust.

Perhaps we should start a cldr-data repo to start discussing delivery and
packaging mechanisms.
On May 13, 2016 12:48 AM, "Jan Hudec" notifications@github.co

[2016-05-14 06:50] jan-hudec commented on #12
Yes, we should.

I need to push out the subtag getters for LanguageTag that I have prepared except test for `-t-` extension and then we should start thinking about the CLDR data.

It does not have to be in Rust. It will be just code-generation the result of which will be included in the crate on crates.io, so we can do that in anything, e.g. XSLT.

[2016-05-14 08:42] jan-hudec commented on #12
Ok, I pushed https://github.com/rust-locale/rust-locale/commit/9bb840770f83a35d4bf12a6f64c765a25478fb29 and that is about as far as I want to go in the `locale_core` submodule. So now we should plan the split, the interfaces and the storage format for CLDR data.

[2016-05-19 18:05] jan-hudec commented on #11
It should be there, the only thing left is wrapping the implementation in `locale_core` with equivalent implementation in `Locale`.

[2016-05-24 06:56] jan-hudec opened #13 "design common facet interface"
“facet” is the object that provides the actual data and functionality for particular aspect of localization like:

* Numeric
* Time
* Messages (or TextDomain?)
* Measurement
* …

I've been thinking about this for a while now, but I still see several options:

1. Facets are traits

    If facets are traits, then we need:

    * Refer to them via some kind of pointer, with the choice being visible i

[2016-05-24 07:21] jan-hudec opened #14 "Fast `Clone` for `Locale`"
The `Locale` content should be interned or shared or something. Interning sounds most sensible to me.

It has to be done at the `locale_core` level, because it needs to apply to the copy to and from the global instances.

[2016-05-24 21:40] jan-hudec commented on #10
Ok, we should start somewhere. For start we need two things:
- Something that will take a `LanguageTag` and finds most suitable definition from a set. I've already defined accessors for the subtags in https://github.com/rust-locale/rust-locale/commit/9bb840770f83a35d4bf12a6f64c765a25478fb29, but perhaps we'll see something slightly different will be needed. I also wrapped them in `locale` in https

[2016-05-25 01:47] mrhota commented on #10
I'll write a python script to begin with. I will want to move to a pure rust generator later so we don't have extraneous, implicit dependencies on other systems.

Python should be fine for a start.

[2016-05-25 09:03] waywardmonkeys opened #15 "rustdoc link in README broken"
The link in the `README.md` for the Rustdoc is 404.

[2016-05-25 09:17] jan-hudec commented on #15
Thank you for reminder.

Well, in current state, the crate is not particularly useful. We are in process of designing, and implementing, a comprehensive version and for that I intend to configure rust-locale.github.io to host the documentation. But I didn't feel the need before the code on the [`next`](https://github.com/rust-locale/rust-locale/tree/next) branch approaches usable state.

Do you ha

[2016-05-25 09:38] jan-hudec commented on #10
Great.

I think python would do even forever, since it is just a development dependency. And in this case even for development of `locale` itself and not the crates that use it, though we will, at least at first, certainly have development python dependencies for them too—I don't intend to rewrite [translate toolkit](http://toolkit.translatehouse.org/) (nor [gettext](https://www.gnu.org/software/g

[2016-05-25 10:25] waywardmonkeys commented on #15
I'm working on a library that implements ICU-style `MessageFormat` ... at some point, I'm going to need locale and / or CLDR data, so I was looking around.

[2016-05-25 10:43] jan-hudec commented on #15
Then, please, please, please, **join us**. Because that is part of the plan for _this_ library.

[2016-05-25 11:09] jan-hudec commented on #15
@waywardmonkeys, we have formatting in the [UseCases](https://github.com/rust-locale/rust-locale/wiki/UseCases). My intention was to use `{}`-delimited format, but use the simpler python3-style quoting (the Java quoting would add quite a bit of confusion for translators, since `'` is rather common character in English). And the values are intended to format themselves via the [Localize](https://gi

[2016-05-25 12:47] waywardmonkeys commented on #15
I wrote the core of MessageFormat (not the parsing of the format strings) before (but not tied into CLDR data since the language I was using didn't have that).

I've started porting that over to Rust.

It sounds like we should talk more ... drop me an email at my email as listed in the `Cargo.toml` in https://github.com/waywardmonkeys/commands.rs!

[2016-05-28 19:56] jan-hudec commented on #15
Ok, it isn't. Part of the plan for this library is to provide message format, but python3-style, _not_ ICU-style. Yes, the ICU-style format is more flexible. But it is also much harder to understand for the translators, the exact people we should be making it as easy as possible for.

[2016-06-02 17:44] jan-hudec commented on #11
I think it is essentially designed and implemented, so we can close this now so we don't drown in issues.

[2016-06-02 17:44] #11 closed

[2016-06-02 17:46] jan-hudec commented on #13
I consider this done as of revision https://github.com/rust-locale/rust-locale/commit/2dbf13080420a5a0ee1c695e88d8ee6058589fa5

[2016-06-02 17:46] #13 closed

[2016-06-02 17:50] jan-hudec commented on #7
This was basically discussion. I'll keep it open for reference until we are ready to make the 0.3 release and then close it.

[2016-06-02 18:05] jan-hudec opened #17 "Numeric facet with formatting"
[code]

The `fmt` should be a CLDR-style format string. They are actually pretty hard to parse, but I think we should have them if we are going to have ICU-compatible format specifications if we are going to use ICU-compatible message format.

Open questions:

 - by value, by reference or by Borrow? For plain old numbers, value is appropriate, but this should work for bignums too and those need re

[2016-06-02 18:17] jan-hudec commented on #17
@waywardmonkeys, do you have experience parsing the numeric format specifiers (like `#,###.##`, `##@@` and such)? I was rather intimidated by them. Arbitrary specifications (say `#+##`) don't really make sense and the restrictions don't seem to be precisely spelled out.

I think for start we should do with just number of decimal digits, number of significant digits and exponential format with one

[2016-06-02 18:49] jan-hudec opened #18 "Time facet with formating"
[code]

Here we first need to decide on a trait that will give us suitably split date and time. Because standard library does not have anything (possibly yet) and I don't think we could rely on `Display` here the way we do in `Numeric`.

The `fmt` should be a CLDR-style skeleton.

Open questions:

 - Design of the interface for the date and time values.
 - Should we have separate entry points for

[2016-06-02 18:55] jan-hudec commented on #17
@waywardmonkeys, what does ICU actually use? The patterns clearly need to be interpreted differently when read from CLDR data and when read from the format string and it seems to be rather confusing.

[2016-06-02 19:07] jan-hudec opened #19 "Messages facet"
Define generic interface and implement using [gettext](https://crates.io/crates/gettext) `.mo` catalogs.

This task does _not_ include implementation of template generation nor catalog compilation, just reading.

[2016-06-02 19:30] jan-hudec opened #20 "`Localize` trait with formatting support"
[code]

This trait will basically work like `std::fmt::Display` but for localized formats.

This will then be used by [message-format](https://crates.io/crates/message-format).

Open questions:

- Or we could curry the `fmt` function to

[code]

    where `LocaleValue : Display`. That might actually be simpler to use.

- The names are still up for bike-shedding.

[2016-06-04 15:22] waywardmonkeys commented on #17
I don't have any experience with them!

[2016-06-06 13:38] jan-hudec commented on #17
@waywardmonkeys, that's pity.

The problem I have with the patterns is that there are aspects that should be taken from the locale (grouping, sign placement, for monetary also precision) and aspects that should be specified at the call site (padding, precision for numbers, but not monetary, international or local symbol for monetary). And the patterns mix them all together. And remember, that I wa

[2016-06-07 04:58] mrhota commented on #10
my computer has been out of commission for a while, but it's back now. I have adapted the CLDR fetch+parse scripts from the Python Babel project. They use the Python pickle serialization format, which I'm not happy with. It seems like the serde-pickle plugin is immature at this point.

I'll push soon

[2016-06-07 09:25] jan-hudec commented on #10
Thank you.

I am not happy with it either.
- The nested maps structure is mostly fine in dynamically typed language like python, but in Rust it would require a recursive type with variants. A flat map would be simpler.
- The final format should be possible to [`include_bytes!`](https://doc.rust-lang.org/std/macro.include_bytes!.html) or [memmap](https://crates.io/crates/memmap) and access it witho

[2016-06-07 09:31] jan-hudec commented on #10
And I don't think `serde-pickle` is going to read the Babel serialized locale data anyway. It would have to read into something like:

[code]

and I am not sure it would know, or can be explained, how.

[2016-06-07 11:22] jan-hudec commented on #10
Looking at [serde](https://github.com/serde-rs/serde), a good format for use at the moment might be [msgpack](http://msgpack.org/). It has [python implementation](https://pypi.python.org/pypi/msgpack-python/) and it has [rust implementation](https://github.com/3Hren/msgpack-rust) (the [original](https://github.com/mneumann/rust-msgpack) seems unmaintained) including serde support. And it is most c

[2016-06-14 19:54] jan-hudec commented on #17
So I looked at [ICU documentation](https://ssl.icu-project.org/apiref/icu4c/classicu_1_1MessageFormat.html) and I am **disappointed**. Basically ICU can only use default and percentage format (and integer and monetary, but we are going to select those based on type only), or the CLDR-style pattern, which seems to be the only way to define the precision, but that specifies the grouping too.

I don'

[2016-06-14 20:03] jan-hudec commented on #17
It might also be worth considering the [.NET composite formatting](https://msdn.microsoft.com/en-us/library/txafckwd%28v=vs.110%29.aspx) for specifying the padding in a general way, but specifically numbers are the odd man out here with their inner padding (between sign and value) and their special behaviour regarding use of `0` as padding character (it uses the locale symbol and has separators in

[2016-06-18 04:46] mrhota commented on #10
msgpack looks good to me

[2016-06-20 08:13] jan-hudec commented on #10
Great. Can you push something somewhere, even if it is incomplete so we can talk about interface?

[2016-06-27 06:12] mrhota commented on #10
btw, I'm not dead! I'm experimenting with some different delivery methods. msgpack no longer seems like the right choice. Dumb JSON + (gzip|bzip2|xz) would give us everything we need (right now) for data retrieval flexibility, plus it will produce smaller files.

I should have a PR later this week.

[2016-06-28 16:27] jan-hudec commented on #10
Ok.
If compression gives better results — and it makes sense, the strings take as much in msgpack as they do in json — go ahead. Just don't spend too much time perfecting it. We should have some prototype first and can perfect it later.

[2016-07-12 05:29] mrhota commented on #10
@jan-hudec  see here for an "alpha" version: https://github.com/mrhota/cldr-rs

I published as a crate, too: https://crates.io/crates/cldr

The build script clones all CLDR repos, compresses the JSON files using bzip2, and puts them in the output dir, available for the CLDR lib to read. I haven't really started the lib part of the crate.

[2016-07-13 19:07] sebastiansetzer commented on #7
Can you replace the formatstring for std::fmt functions with a translated one, read from a .mo file like you do in C with gettext? I imagine this is difficult, because std::fmt checks compatibility of the formatstring with the parameters at compile-time.

Is the plan to check and integrate the .mo files at compile-time? (Inconvenient, translators must re-compile for every test.)

Or will only the

[2016-07-25 20:43] jan-hudec commented on #7
@sebastiansetzer,

`std::fmt` is unsuitable for this purpose for that and many other reasons and will not be used.

I know about two projects working on formatting with runtime-interpreted format strings, [message-format](https://github.com/endoli/message-format.rs) and [strfmt](https://github.com/vitiral/strfmt), and plan to eventually integrate with either or both. And then there is [l20n](https

[2016-07-28 09:51] jan-hudec commented on #10
@mrhota , how is that supposed to be used? As it is it **can't** be used as a a dependency of `locale` because:
- CLDR schema is evolving too. Does the json extract provide sufficient stability guarantee that we can blindly fetch the latest version when, for whatever reason, rebuilding old version of `locale`?
- The build script currently requires nightly compiler. `locale` is supposed to work wit

[2016-08-06 01:50] mrhota commented on #10
@jan-hudec it isn't supposed to be used yet, which I hoped would be clear from the README in the repo.

Notice that the version of my CLDR crate is 29.0.0-alpha. The build script checks out the tag matching the CLDR crate's version; not `master`.

I don't remember ever discussing this constraint. Anyway, we don't have much of a `locale` library to speak of yet. I can easily change to stable before

[2016-08-06 01:51] mrhota commented on #10
leave further comments about CLDR crate on that project's issue tracker

[2016-12-08 23:14] mandeep opened #21 "Broken link to docs"
The link to the documentation website seems to be broken.

[2016-12-10 09:49] jan-hudec commented on #21
The released version is pretty useless anyway. There is a prototype of rewrite on the next branch, but I need to get some time to finish it. Then I'll have to set up generating the documentation to somewhere (I've seen some central documentation site for rust, but have not yet looked if I could use it and what it takes).

[2017-02-07 18:59] jan-hudec commented on #12
Inbound tags are RFC4647 and that does **not** call for canonicalization, therefore we **won't** do any!

When looking up match in the data, we will understand canonical tags, by virtue of taking the list from CLDR, and their grandfathered aliases imported from the [registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry), but that isn't canonicalization.

Clos

[2017-02-07 18:59] #12 closed

[2017-03-07 02:49] alexreg opened #22 "Status of issues"
Do any of these open issues need work? Has work on them been begun on the *next* branch? I'm currently familiarising myself with the codebase, and could tackle one or two if that would help.

[2017-03-07 23:34] alexreg commented on #22
@jan-hudec This is the issue I was talking about. We could use it for discussion, for lack of anything better. :)

[2017-03-08 18:14] jan-hudec commented on #17
This is now ready on the next branch.

[2017-03-08 21:43] jan-hudec commented on #22
I'll update them over next couple of days and also try to create some milestones to give them some priorities.

[2017-03-08 21:47] jan-hudec commented on #22
Basically the #7 is a somewhat obsolete dump of ideas and #10 and #17 should be done on `next`. I'll sort the rest out and try to update them with up-to-date design ideas.

Unfortunately Github can't associate a commit with issue in a way that would allow tracking not just whether it's implemented anywhere, but also whether it already made it to a release, so I am reluctant to close the ones on `n

[2017-03-09 03:31] alexreg commented on #22
Okay, sounds fair.

Maybe worth creating PRs for some of these issues (and leaving them open for a long time), so you can get the tracking?

[2017-03-10 18:39] jan-hudec commented on #22
@alexreg, how much knowledge do you have of macros or of [syntex](https://crates.io/crates/syntex)?

While I spent quite a bit of time already investigating what CLDR has to offer and reading documentation of [chrono](https://crates.io/crates/chrono) (for #18), I have not used macros yet and I have not used syntex—both of which will be needed for translation support (#19).

[2017-03-11 01:20] alexreg commented on #22
Decent knowledge. I wrote a procedural macro (pre–macros 1.1) for error templating, so I know my way around at least.

I'm also somewhat familiar with chrono, though by no means an expert. CLDR I know very little indeed about. There seems to already be a crate for it though.

Should I have a go at #18 or #19 soon, then?

[2017-03-13 21:51] alexreg commented on #22
@jan-hudec I should have a bit of time over the coming days. Will tackle #18 maybe, unless you'd like otherwise...

[2017-03-15 18:57] jan-hudec commented on #22
@alexreg The [cldr](https://crates.io/crates/cldr) crate was actually intended for #10, but all it does is contain JSON version of the raw CLDR data, with no API, and in a way that is totally impractical, because `cargo` does not have any support for distributing resource files. So I created the generator in [next:scripts/extract_cldr](https://github.com/rust-locale/rust-locale/tree/next/scripts/e

[2017-03-15 19:50] jan-hudec commented on #20
`Localize` (US spelling) or `Localise` (UK spelling)? I tend to write in UK spelling, but US is probably more consistent with other libraries.

[2017-03-15 20:28] jan-hudec commented on #18
# What needs to be done

1. Necessary features:

    - [ ] Create a trait or struct to contain the split date/time elements for substituting into the pattern.
    - [ ] Implement that trait/struct for [chrono] types and for standard library types by using [chrono] to process them.
    - [ ] Export the `//calendar/dateFormats/dateFormatLength`, `//calendar/dateTimeFormats/dateTimeFormatLength` in [

[2017-03-15 22:21] jan-hudec commented on #19
# What needs to be done

- [ ] The Messages facet interface.
- [ ] `_!`, and `N_!` if needed, macro wrapper(s) for the interface.
- [ ] Procedural macro to take a set of catalogs in (one of) [xliff], [po][gettext] or [mo][gettext] format and generate suitable data for the `Domain` of given crate.
- [ ] Language tag matching function(s), possibly even in [locale_config](https://github.com/rust-loca

[2017-03-15 22:28] jan-hudec commented on #22
@alexreg, OK, I've added design notes and some open questions in #18 and #19.

[2017-03-16 01:47] alexreg commented on #18
Okay, that definitely helps. Some questions/comments:

* Why do we need to split datetime values at all? Can't this trait simply have a method that returns a *chrono* `NaiveDateTime` value?
* I wouldn't worry about future-proofing with regards to the calendar right now, since this project is still pre 1.0.
* What do you mean by (internal) padding?
* Perhaps we could have a method for the datetime

[2017-03-16 01:52] alexreg commented on #19
Haven't read this in full yet, but an interesting alternative (going back to embedding `.mo` files more directly) would be to make use of `include_bytes!` perhaps.

[2017-03-16 01:59] alexreg commented on #19
Actually: is there any particular reason you want/need to embed this info anyway?

[2017-03-16 06:20] jan-hudec commented on #18
@alexreg

Not `NativeDateTime`, because we need timezone too. But directly using the [Datelike](https://docs.rs/chrono/0.3.0/chrono/trait.Datelike.html) and [Timelike](https://docs.rs/chrono/0.3.0/chrono/trait.Timelike.html) should do.

Ok, let's wait for what chrono comes up with for the Datelike.

For numbers there is the `^` alignment flag. Formatting `42` with format `^+5` will yield `+  42`.

[2017-03-16 18:00] jan-hudec commented on #19
Because `cargo install` does not have support for data files. And other ways of distribution are simpler too when it's just one binary.

1. We theoretically could, but we'd still need the codegen to make them accessible—the main crate can register, but libraries need references injetcted in the `_!()` calls anyway.
2. It would be less efficient, because the keys would be duplicated and the [gettex

[2017-03-17 00:49] alexreg commented on #19
I don't really understand the second part of your post, since it misses out a lot of details for one unfamiliar with these libraries and concepts, but I'll trust you on this.

[2017-03-17 00:56] alexreg commented on #18
If the timezone is getting provided by another method, this seems fine though...

I've never heard of such alignment strings. What doe the 5 refer to? But yes, I wouldn't worry about padding for datetime. As long as you can do things like `H` and `HH` (i.e. for hours), that's fine.

Fair enough. Why not just have the `DateTimeValue` trait have methods returning `Option<&Datelike>`, `Option<&Timeli

[2017-03-17 20:44] jan-hudec commented on #18
On the second thought,

[code]

would actually be just fine. It will be wrapped in the impl of `Localize` anyway and from there, passing it as three separate arguments is simpler than creating another layer of indirection.

[2017-03-17 21:04] jan-hudec commented on #19
Also, the `.po` is a source that translators edit, but `.mo` is a compiled object. So while it would save us the trouble of compiling it ourselves, it would make us depend on [msgfmt(1)](https://www.gnu.org/software/gettext/) or [pocompile(1)](http://toolkit.translatehouse.org/) for the build.

[2017-03-17 22:12] alexreg commented on #19
I think we're going to depend on a lot of the *gettext* infrastructure anyway though, aren't we?

[2017-03-17 22:12] alexreg commented on #19
Since this is a long-term goal, might be worth persuading the Cargo devs to allow including resource files with packages...

[2017-03-17 23:26] jan-hudec commented on #19
Well, gettext infrastructure will be initially needed for extraction (xgettext) and it will always be needed for managing the catalogues. But I don't want to depend on it for _build_.

And yes, it would be useful to persuade Cargo devs to add support for data files, but they seem to have _huge_ backlog.

[2017-03-18 00:52] alexreg commented on #19
Why not simply use the usual gettext build process, though, and have it entirely separate from Cargo? It would be nice if Cargo had pre/post-build scripts, of course. This could be another request.

I think it's still worth requesting anyway. With a bit of nudging, it may come sooner than you think!

[2017-03-18 09:50] jan-hudec commented on #19
Long term, there is really no point in relying on gettext. Embedding the strings is simpler _and_ more efficient, extraction should eventually be done with something that understands Rust syntax (the procedural macros themselves, likely) and the catalogs can be manipulated with whatever the author wants—translate-toolkit tends to be more flexible then gettext and I am sure there are other tools fo

[2017-03-18 16:44] alexreg commented on #19
Okay, fair enough. What format does translate-toolkit use to store translations though? If that's some sort of resource file, then we should petition Cargo to allow resource files.

[2017-03-19 13:47] jan-hudec commented on #19
Translate toolkit is a development tool only. It does not have any runtime component that would store translations anywhere.

[2017-03-19 17:30] jan-hudec commented on #20
… `Localize` it is, because even Oxford English Dictionary [prefers the spelling with ‘z’](https://en.oxforddictionaries.com/definition/localize).

[2017-03-19 21:35] jan-hudec commented on #9
Note: this is part of 0.4 and not 0.3 only so that we get a release cycle with deprecation.

[2017-03-19 21:52] jan-hudec commented on #20
I've updated the names. Bike shed is painted.

[2017-03-19 22:09] jan-hudec commented on #22
@alexreg, are you taking a stab at #18 as you said? I'll start with #20 then, where the convenience wrapper methods will be provided.

[2017-03-20 00:02] jan-hudec opened #23 "Add support for types from num"
The [num](https://crates.io/crates/num) crate provides many additional numeric types for rust. Implement `Localize` for them as optional feature.

[2017-03-21 00:32] alexreg commented on #19
Okay. So the idea is that the file format Translate Toolkit uses would be exported by some tool (from rust-locale) to a rust-locale–specific format?

[2017-03-21 00:32] alexreg commented on #22
Yep, having a go! Cheers.

[2017-03-21 06:05] jan-hudec commented on #19
The idea is that a `proc_macro` from (subcrate of) rust-locale will expand the original string to a table of translations. During build. No resources needed. The table of strings is usually tiny compared to the binary, so there is not much to be gained by having separate resource files.

[2017-03-21 22:07] alexreg commented on #19
Where does Translate Toolkit come into it then? Surely there needs to be some interoperability of formats somewhere?

[2017-03-22 21:26] jan-hudec commented on #19
There are two standard formats for the catalogs: Uniforum PO and XLIFF. We will read one or both, _at compiletime_, and generate appropriate substitutions for the `_!` macro. Later, we will also write one or both.

Between us writing the template and us reading the translations, somebody has to actually translate it and that involves some maintenance of the catalogs. That's what gettext (the `msg*

[2017-04-24 21:05] jan-hudec commented on #22
@alexreg, any progress?

[2017-04-26 22:26] alexreg commented on #22
@jan-hudec Nothing worth reporting yet. My apologies, I've been flooded with work.

[2017-05-03 18:50] jan-hudec commented on #22
@alexreg, meanwhile I wrote first version of [translate-storage](https://crates.io/crates/translate-storage), which will be used for implementing the macros for #19 and then I implemented month and day names in the data. I decided instead of rewriting the data set to allow multiple levels, I will simply allow parametric enum variants. 3 bytes worth of parameters should be enough — calendar, width

[2017-05-03 18:55] jan-hudec commented on #18
Added month and day names in aeba6bfe304ad1a149a2781bcb8636d587ccd198.

[2017-05-15 21:18] jan-hudec commented on #18
Also added quarter and day period (only AM, PM, midnight and noon) names now.

[2017-05-24 20:04] jan-hudec commented on #18
I've added eras now.

Since the `Numeric` trait has separate `fmt` method for integers and floats, we can—and probably should—similarly have fmt_date, fmt_time and fmt_datetime here.

[2017-05-26 10:07] petrochenkov opened #24 "Publishing new minor version"
Hi.
https://github.com/rust-lang/rust/pull/42136 is going to turn some old compatibility warnings in `rustc` into hard errors.
`crates.io` testing discovered that published version of this crate is affected by one of those errors (private enum variants are reexported publicly).
The current master is building successfully with https://github.com/rust-lang/rust/pull/42136, could you push it on crate

[2017-05-26 18:43] jan-hudec commented on #24
Ok. Not that the library would be of much use in that state, but will do. New version that should be actually useful is (unfortunately rather slowly) cooking.

[2017-05-26 20:17] #24 closed

[2017-05-26 20:34] petrochenkov commented on #24
Thanks!
Even if the library isn't used much, it helped with compiler's regression testing.

[2017-06-12 19:43] jan-hudec commented on #18
Hm, thinking about this again, it seems to me that we don't want `chrono::Datelike` and `chrono::Timelike` in the API after all. The thing is that eventually the locale will be selecting the calendar to use, and that means we'll need to convert it to split time ourselves and not have it already pre-split.

[2017-11-05 10:41] albfan opened #25 "Executing examples/localeinfo.rs"
I cannot install this crate, and compile example requires it

[code]

how can I execute it?

[2017-11-05 10:45] albfan commented on #25
I did

    $ mv examples/localeinfo.rs src/main.rs

and now can do

[code]

is that the way?

[2017-11-05 15:00] jan-hudec commented on #25
No, it ain't.

That's cargo 101. The right way is simply

    cargo run --example localeinfo

The crate it a library. It must not have `src/main.rs`

Note that that particular example is going away anyway.

[2017-11-05 15:00] #25 closed

[2017-11-05 15:48] albfan commented on #25
Another cool thing for rust. Thanks

[2017-12-08 19:19] jan-hudec commented on #10
Ok. Here is muuuuch simpler solution. There already *is* a library that bundles CLDR data and provides interfaces to them. It is also developed with lockstep with them. The [ICU](http://site.icu-project.org/).

So the primary CLDR distribution mechanism will be simply using ICU as a backend. For everything. I don't like how some bits of it are done, but it's best to get things working first and pr

[2017-12-08 19:19] #10 closed

[2017-12-08 19:28] jan-hudec commented on #21
Fixed in 9acaf6987a97f8ffcda0e3ce6e8770e7a01ece09

[2017-12-08 19:28] #21 closed

[2017-12-08 19:30] jan-hudec commented on #7
Ok, updated plan. ~~For the first version, we'll use [ICU](http://site.icu-project.org/) via https://github.com/rust-locale/icu-sys~~ Even more updates:

1. Prototype the API
2. Implement highly reduced functionality natively and the rest via [ICU](http://site.icu-project.org/) and https://github.com/rust-locale/icu-sys
3. Implement the other things later. I suspect we can actually compress the da

[2017-12-08 19:32] jan-hudec commented on #7
… note that that means that at first, we'll support just the formatting specifications ICU has. I'll want something a bit better for the numbers; or rather, the patterns are actually quite flexible, but the separators must be taken from the locale and not the pattern. We may just massage the pattern before passing it to ICU for this.

[2018-01-14 08:58] fschutt commented on #7
Now what? Is this being worked on or not? Should I depend on 0.2.2 if there is a "huge 0.3 rewrite"?

[2018-01-15 19:03] jan-hudec commented on #7
@fschutt, it is being worked on, but I am effectively alone and the herd of yaks to shave is *huge*—and I got persuaded to shave more of them than I should have (essentially that's what the ICU update is about).

Anyway, the real problem is that the current version does not actually do much useful. It only does anything at all on MacOS and even there it is not really correct.

What do you want to

[2020-05-16 08:41] expnkx opened #28 "Hello. Do you know how to solve the thread safety issues of C locales?"
I do not see any cross-platform solutions for C locale. Even localeconv_l was removed from Glibc.

[2021-07-24 13:14] Cthutu opened #29 "Possible bug with `Time::log_day_name`"
I am not sure if this is a bug with rust-locale or with my Pop_OS Linux distribution but the following code produces the wrong output:

[code]

I get `Mon` for both.  I would expect `Monday` for the long description.

[2022-11-29 15:37] Cthutu commented on #29
There is a bug:
[code]

That line of code should use `long_day_names`.  Copy pasta mistake!

[2022-11-29 15:44] Cthutu commented on #29
I've submitted a PR to fix this.